/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Styles pour l'en-tête */
h1 {
    color: #333;
}

/* Styles pour le formulaire */
form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

/* Styles pour les étiquettes */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

/* Styles pour les champs de texte */
input[type="text"],
input[type="email"],
input[type="CVV"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Styles pour le bouton Soumettre */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}